@import url('D:/FrontEnd/Верстка лендингов/Портфолио/css/nullstyle.css');
/*********************
    PreSettings
****************/
.container{
    display: flex;
    max-width: 855px;
    margin: 0 auto;
    padding: 0;
}
$primery-color: #FF6464;
$main-font: Heebo;


.header {
    display: grid;
    width: 100%;
    height: 70px;
    align-items: center;
    top: 0; left: 0;
    margin-bottom: 180px;

    &__nav {
        position: absolute;
        right: 60px;
    }

    &__nav-link {
        text-decoration: none;
        color: black;
        font-family: $main-font;
        font-weight: 500;
        padding-right: 30px;
        &:hover{
            opacity: .7;
            transition: 0.9s;
        }
    }
}
.welcome-page {
    
    &__items {
        display: grid;
        max-width: 500px;
        margin-right: 115px;
    }

    &__title {
        font-family: $main-font;
        font-weight: 600;
        font-size: 44px;
        color: black;
        margin-bottom: 40px;
    }

    &__info {
        font-family: $main-font;
        font-weight: regular;
        font-size: 16px;
        color: #21243D;
        margin-bottom: 40px;
    }

    &__button {
        height: 47px;
        width: 208px;
        background-color: $primery-color;
        color: white;
        font-family: $main-font;
        font-size: 16px;
        font-weight: 500;
        box-shadow: 0 1rem 3rem rgba($primery-color, .725);
        border-radius: 5px;
        
        &:hover{
            background-color: #ce2a2a;
            transition: 0.8s;
        }
    }
    &__photo {
        border-radius: 50%;
        overflow: hidden;
    }
}

.project-GitHub {
    height: 400px;
    background: #EDF7FA;
    display: grid;

    
    &__header {    
        margin-top: 70px;
        height: 70px;
        display: grid;
        align-items: center;
        background: #EDF7FA;
        &__item{
            display: flex;
            justify-content: space-between;
            width: 100%;
            
        }
    }

    &__text {
        font-family: $main-font;
        font-size: 22px;
        font-weight: regular;
    }
    &__project-object{
        display: grid;
        width: 420px;
        height: 340px;
        background-color: white;
        border-radius: 10px;
        padding-top: 25px;
        padding-left: 20px;
        margin-right: 20px;
    }
    &__open-project {
        font-family: $main-font;
        font-weight: 600;
        font-size: 24px;
        max-width: 375px;
        color: black;
    }

    &__info {
        display: flex;
    }

    &__date {
        padding-right: 25px;
        font-family: $main-font;
        font-weight: regular;
        font-size: 14px;
        color: black;
    }

    &__project-name {
        padding-left: 25px;
        font-family: $main-font;
        font-weight: regular;
        font-size: 14px;
        color: black;
    }

    &__description {
        font-family: $main-font;
        font-weight: regular;
        font-size: 16px;
        color: black;
        max-width: 370px;
    }

    &__download {
        height: 50px;
        width: 215px;
        color: white;
        background-color: $primery-color;
        font-family: $main-font;
        font-weight: regular;
        font-size: 16px;
        box-shadow: 0 .5rem 1rem rgba(black, .15);
        border-radius: 5px;
        &:hover{
            background-color: #ce2a2a;
            transition: 0.8s;
        }
    }
}
.footer {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__Items {
        
    }

    &__Social {
        margin-bottom: 20px;
    }

    &__link {
        font-size: 35px;
        padding-right: 35px;
        color: black;
        
    }

    &__Copyright {
        font-family: $main-font;
        font-weight: regular;
        font-size: 11px;
        padding-left: 10px;
        color: black;
    }
}
.inst:hover{
    color: #d6249f;
}
.mail:hover{
    color: red;
}

