@charset "UTF-8";
@import url("D:/FrontEnd/Верстка лендингов/Портфолио/css/nullstyle.css");
/*********************
    PreSettings
****************/
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 855px;
  margin: 0 auto;
  padding: 0;
}

.header {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  margin-bottom: 180px;
}
.header__nav {
  position: absolute;
  right: 60px;
}
.header__nav-link {
  text-decoration: none;
  color: black;
  font-family: Heebo;
  font-weight: 500;
  padding-right: 30px;
}
.header__nav-link:hover {
  opacity: 0.7;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.welcome-page__items {
  display: -ms-grid;
  display: grid;
  max-width: 500px;
  margin-right: 115px;
}
.welcome-page__title {
  font-family: Heebo;
  font-weight: 600;
  font-size: 44px;
  color: black;
  margin-bottom: 40px;
}
.welcome-page__info {
  font-family: Heebo;
  font-weight: regular;
  font-size: 16px;
  color: #21243D;
  margin-bottom: 40px;
}
.welcome-page__button {
  height: 47px;
  width: 208px;
  background-color: #FF6464;
  color: white;
  font-family: Heebo;
  font-size: 16px;
  font-weight: 500;
  -webkit-box-shadow: 0 1rem 3rem rgba(255, 100, 100, 0.725);
          box-shadow: 0 1rem 3rem rgba(255, 100, 100, 0.725);
  border-radius: 5px;
}
.welcome-page__button:hover {
  background-color: #ce2a2a;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.welcome-page__photo {
  border-radius: 50%;
  overflow: hidden;
}

.project-GitHub {
  height: 400px;
  background: #EDF7FA;
  display: -ms-grid;
  display: grid;
}
.project-GitHub__header {
  margin-top: 70px;
  height: 70px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #EDF7FA;
}
.project-GitHub__header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.project-GitHub__text {
  font-family: Heebo;
  font-size: 22px;
  font-weight: regular;
}
.project-GitHub__project-object {
  display: -ms-grid;
  display: grid;
  width: 420px;
  height: 340px;
  background-color: white;
  border-radius: 10px;
  padding-top: 25px;
  padding-left: 20px;
  margin-right: 20px;
}
.project-GitHub__open-project {
  font-family: Heebo;
  font-weight: 600;
  font-size: 24px;
  max-width: 375px;
  color: black;
}
.project-GitHub__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.project-GitHub__date {
  padding-right: 25px;
  font-family: Heebo;
  font-weight: regular;
  font-size: 14px;
  color: black;
}
.project-GitHub__project-name {
  padding-left: 25px;
  font-family: Heebo;
  font-weight: regular;
  font-size: 14px;
  color: black;
}
.project-GitHub__description {
  font-family: Heebo;
  font-weight: regular;
  font-size: 16px;
  color: black;
  max-width: 370px;
}
.project-GitHub__download {
  height: 50px;
  width: 215px;
  color: white;
  background-color: #FF6464;
  font-family: Heebo;
  font-weight: regular;
  font-size: 16px;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.project-GitHub__download:hover {
  background-color: #ce2a2a;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.footer {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__Social {
  margin-bottom: 20px;
}
.footer__link {
  font-size: 35px;
  padding-right: 35px;
  color: black;
}
.footer__Copyright {
  font-family: Heebo;
  font-weight: regular;
  font-size: 11px;
  padding-left: 10px;
  color: black;
}

.inst:hover {
  color: #d6249f;
}

.mail:hover {
  color: red;
}